<!-- <div class="d-flex">
    <span style="padding: 0%">
        <button type="button" class="btn btn-outline">{{data.name}}</button>
    </span>

    <div class="d-flex toolbar">
        <core-component-editor [component]="this.data"></core-component-editor>
        <a (click)="openDialog()">
            <i-feather name="Plus" class="feather"></i-feather>
        </a>
        <a (click)="copy()">
            <i-feather name="Copy" class="feather"></i-feather>
        </a>
        <a *ngIf="this.clipboardService.showClipboard()" (click)="paste()">
            <i-feather name="Clipboard" class="feather"></i-feather>
        </a>
    </div>
</div> -->
